/*header*/
footer{
    height: 100px;
}


.form{
    min-height: 300px;
}


.bg-color-dark-blue{
    background-color: #2C3E50;
}

.bg-color-green{
    background-color: #1df5a2;
}

.text-color-dark-blue{
    color: #2C3E50;
}

.separator{
    height: 5px;
}

.star{
    font-size: 32px;
}

img{
    width: 100%;
    height: auto;
}