/*header*/
footer{
    height: 100px;
}


.form{
    min-height: 300px;
}

.row{
    border: 2px dashed red;
}

.cs-col{
    border: 2px dashed #1df5a2;
}

.bg-color-dark-blue{
    background-color: #2C3E50;
}

.bg-color-green{
    background-color: #1df5a2;
}

.separator{
    height: 5px;
    background-color: #fff;
    width: 20%;
}

.star{
    font-size: 32px;
}